
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #242424;
    width: 100vw;
    height: 160px;
    position: sticky;
}

.head h1{
    color: white;
    font-size: 44px;
    font-family: 'Segoe UI';
    font-weight: normal;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: #6C6C6C;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 120px;
    font-size: 28px;
    font-family: 'Segoe UI';
    font-weight: normal;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    display: table;
    margin-left: -8px;
    margin-right: -8px;
    padding: 0px 536px;
}
.hp h4{
    color: #6C6C6C;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 25px;
    padding: 5px;
    padding-left: 545px;
    
}
.cards__item {
    flex-basis: 33.33%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-color: rgba(15, 0, 0, 0.425);
    border-style: solid;
    border-width: 1px;
    height: 200px;
    width: 200px;
}

.cards__item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
img{
    padding: 10px 10px;
    height: 180px;
    width: 180px;
}

#sv{
    padding: 5px 5px;
    height: 180px;
    width: 180px;
}
.lp h4{
    color: #6C6C6C;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 25px;
    padding: 5px;
    padding-left: 550px;
}


.kp h4{
    color: #6C6C6C;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 25px;
    padding: 5px;
    padding-left: 525px;
}


.op h4{
    color: #6C6C6C;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 25px;
    padding: 5px;
    padding-left: 533px;
}

.column {
    float: left;
    width: 28%;
    padding: 0 10px;
    margin-left: 20px;
}

.row {
    margin-left: 130px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-color: rgba(15, 0, 0, 0.425);
    border-style: solid;
    border-width: 1px;
    height: 210px;
    width: 210px;
    padding: 3px 3px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.pp h4{
    color: #6C6C6C;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 25px;
    padding: 5px;
    padding-left: 537px;
}
